<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".main.NovaApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NovaApp">
        <activity
            android:name=".home.AdminLandingPage"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.NovaApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".home.ActivityJobStatus"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NovaApp"
            />

        <activity
            android:name=".home.ActivityAllProperties"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NovaApp"

            />

        <activity
            android:name=".home.ActivityBookService"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NovaApp"
            android:windowSoftInputMode="adjustResize"

            />

        <activity
            android:name=".home.ActivityAllServices"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NovaApp"
            />

        <activity
            android:name=".home.ActivityCompleteBooking"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NovaApp"
            android:windowSoftInputMode="adjustResize"
            />

        <activity
            android:name=".home.ActivityManagerDetails"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NovaApp"
            />

        <activity
            android:name=".home.ActivityPropertyDetails"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NovaApp"
            />

        <activity
            android:name=".home.ActivityOrderDetails"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NovaApp"
            />

        <activity
            android:name=".home.ActivityPendingBill"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NovaApp"
            />

        <activity
            android:name=".home.ActivityAddCard"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NovaApp"
            />

        <activity
            android:name=".home.ActivityAddProperty"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NovaApp"
            />






        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />


    </application>




</manifest>